* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{     

    overflow-x: hidden;     

    overflow-y: hidden;     

} 

h1{
   color: #2F2D30;
   font-weight: 530;
   font-size: 2rem; 
}

h2,
p{
    color: #DAD8DB;
    font-weight: 500;
    opacity: 1;
}

h3{
    color: #2F2D30;
    font-weight: 600;
    opacity: 0.8;
}

h5{
    color: #F68653;
    font-weight: 200;
    font-size: 0.3rem; 
}

h6{
    color: #656565;
    font-weight: 600;
    font-size: 2.5rem; 
}


main{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    /* background: linear-gradient(to right top,#65dfc9,#6cdbeb); */
    /* 渐变色 */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* 使得子物体居中 */

}


header
{
    position: absolute;
    top: 15%;
    left: 22.5%;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}


header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #353336;
    font-weight: 400;
    font-size: 0.6em;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #F68653;
    color: #2b1055;
}


.threeD{
    position: relative;
    width: 100%;
    height: 95%;
    top: 0%;
    right: 0%;
}

.chart-container{
    position: relative;
    width: 100%;
    height: 80%;
    top: 0%;
    right: 0%;
}

.chart_left{
    position: absolute;
    width: 15%;
    height: 75%;
    top: 14%;
    left: 3%;
    /* background: #426696; */
}

.chart_left_title{
    position: absolute;
    top: 0%;
    left: 0%;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.structure_1{
    position: absolute;
    width: 100%;
    height: 45%;
    top: 5%;
    right: 0%;
    background: #474B4E;
    border-radius: 0.4rem;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.structure_2{
    position: absolute;
    width: 100%;
    height: 15%;
    top: 52.5%;
    right: 0%;
    background: #474B4E;
    border-radius: 0.4rem;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.label{
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0%;
    right: 0%;
    background: #474B4E;
    border-radius: 0.4rem;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}



.chart_right{
    position: absolute;
    width: 23%;
    height: 72%;
    top: 14%;
    right: 3%;
}


.chart_right_content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5%;
    right: 0%;
    background: rgba(135, 140, 143, 0.8);
    border-radius: 0.4rem;
    backdrop-filter: blur(0.7rem);
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}


.chart_right_title{
    position: absolute;
    top: 0%;
    left: 0%;
    
}



.top{
    position: absolute;
    width: 100%;
    height: 9%;
    top: 0%;
    right: 0%;
    background: #878C8F;
}

.title{
    position: relative;
    left: 3%;
    top: 20%;
}

.topoc{
    position: absolute;
    right: 0%;
    top: 0%;
}


.botton{
    position: absolute;
    width: 100%;
    height: 4%;
    bottom: 0%;
    right: 0%;
    background: #474B4E;
}

.botton_title{
    position: absolute;
    right: 3%;
    top: 20%;
}


.number{
    position: absolute;
    height: 30%;
    width: 60%;
    right: 27.5%;
    bottom: 10.5%;
    z-index: 999;

    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;
}

.nodes_count{
    position: absolute;
    left: 20%;
    bottom: 0%;    
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links_count{
    position: absolute;
    left: 45%;
    bottom: 0%;    
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fp{
    position: absolute;
    width: auto;
    height: 90%;
    right: 0%;
    bottom: 0%;
}






.dashboard{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
}

.link{
    display: flex;
    margin: 3.3rem 0rem;
    align-items: flex-start;
}

.link h2{
    padding: 0rem 2rem;

}

.game{
    flex: 1;
}


.pro h2{
    width: 40%;
    color: white;
    font-weight: 600;
}

.status{
    margin-bottom: 3rem;
}

.status input{
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
    );
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.games{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card{
    display: flex;
    background: linear-gradient(
        to left top,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    justify-content: space-between;
}

.progress{
    background: linear-gradient(to right top,#65dfc9,#6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236,236,236);
    position: absolute;
    left: 60%;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.percentage{
    font-weight: bold;
    background: linear-gradient(to right top,#65dfc9,#6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}